DATABASE_URL="mysql://*nomeuser*:*password*@*indirizzoIp*:*numeroporta*/*nomedatabase*"
SHADOW_DATABASE_URL="mysql://*nomeuser*:*password*@*indirizzoIp*:*numeroporta*/*nomedatabase_shadow*"

DATABASE_HOST="*indirizzoIp*"
DATABASE_PORT="*numeroporta*"
DATABASE_USER="*nomeuser*"
DATABASE_PASSWORD="*password*"
DATABASE_NAME="*nomedatabase*"